<div style="background-color: darkgrey;" >
<h2 class="p-5 text-center">Do You Want Delete {{data.name}}?</h2>
<div class="container" style="width: 400px;height: 100px;">
    <div class="row">
        <div class="d-flex justify-content-around">
            <div><button class="badge text-bg-success " style="height: 40px; width: 80px;"(click)="Delete('y')">OK</button></div>
            <div><button class="badge text-bg-danger "style="height: 40px; width: 80px;" (click)="Delete('n')">Cancel</button></div>
        </div>
    </div>

</div></div>